html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.b-header-top{padding:20px 20px;background:#3a3a3a;border-top-left-radius:3px;border-top-right-radius:3px}.b-header-top__logo{display:inline-block;vertical-align:top;width:107px;}.b-header-top__logo span{display:block;width:107px;height:20px;background:#fff}.b-header-top__login{display:inline-block;vertical-align:top;width:115px;margin-left:322px;}.b-header-top__login a{font-family:helvetica;font-size:11px;line-height:20px;text-decoration:none;color:#9a9999;}.b-header-top__login a:hover{color:#fff}.login{margin-right:15px}.b-header-bottom{background:#fafafa}.b-header-top__search{display:inline-block;vertical-align:top;width:190px;margin-left:200px;zoom:1;}.b-header-top__search:before,.b-header-top__search:after{content:"";display:table}.b-header-top__search:after{clear:both}.b-header-top__search form{zoom:1}.b-header-top__search form:before,.b-header-top__search form:after{content:"";display:table}.b-header-top__search form:after{clear:both}.b-header-top__search input[type='text']{width:100%;border:0;-webkit-border-radius:10px;border-radius:10px;height:22px;outline:none;padding:4px 10px}.b-header-top__search input[type='submit']{border:0;width:19px;height:19px}.b-input{float:left;width:160px}.b-input-submit{float:right;width:19px;margin-left:5px;position:relative;cursor:pointer;}.b-input-submit:after{position:absolute;top:0;left:0;content:'';width:100%;height:100%;background:rgba(0,0,0,0.1);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);visibility:hidden;-webkit-transition:opacity 0.3s ease, visibility 0.3s ease;-moz-transition:opacity 0.3s ease, visibility 0.3s ease;-o-transition:opacity 0.3s ease, visibility 0.3s ease;-ms-transition:opacity 0.3s ease, visibility 0.3s ease;transition:opacity 0.3s ease, visibility 0.3s ease}.b-input-submit:hover:after{opacity:1;-ms-filter:none;filter:none;visibility:visible}.b-header-nav ul{zoom:1;}.b-header-nav ul:before,.b-header-nav ul:after{content:"";display:table}.b-header-nav ul:after{clear:both}.b-header-nav ul li{float:left;border-right:1px solid #e5e5e5;}.b-header-nav ul li a{display:block;font-family:helvetica;font-size:14px;line-height:47px;padding:0 20px;text-decoration:none;color:#3a3a3a;-webkit-transition:background 0.3s ease;-moz-transition:background 0.3s ease;-o-transition:background 0.3s ease;-ms-transition:background 0.3s ease;transition:background 0.3s ease;}.b-header-nav ul li a:hover{background:#e3e3e3}
@font-face{font-family:helvetica;font-style:normal;src:url("fonts/HelveticaNeueCyr-Medium.otf")}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.b-main{width:980px;padding:60px 0 64px 0;margin:0 auto;font-family:Arial Helvetica sans-serif;font-size:12px;line-height:17px}.b-content{zoom:1}.b-content:before,.b-content:after{content:"";display:table}.b-content:after{clear:both}
@font-face{font-family:helvetica;font-style:normal;src:url("fonts/HelveticaNeueCyr-Medium.otf")}.b-content-leftside{float:left;width:220px}.b-rightcontent{float:right;margin-right:0;width:740px}.b-leftside-menu{background:#3a3a3a;}.b-leftside-menu ul li{padding:10px 20px;border-top:1px solid #4e4e4e;}.b-leftside-menu ul li:first-child{border-top:0}.b-leftside-menu ul li a{font-family:helvetica;font-size:15px;color:#fff;text-decoration:none;-webkit-transition:color 0.3s ease;-moz-transition:color 0.3s ease;-o-transition:color 0.3s ease;-ms-transition:color 0.3s ease;transition:color 0.3s ease;}.b-leftside-menu ul li a:hover{color:#fc4907}.b-leftside-reviews{font-family:helvetica;padding:30px 20px;background:#919191;}.b-leftside-reviews h2{font-size:21px;color:#fff;padding-bottom:8px;border-bottom:1px solid #bababa;margin-bottom:15px}
