@import 'nib'

@font-face
	font-family helvetica
	font-style normal
	src url(fonts/HelveticaNeueCyr-Medium.otf)

*
	box-sizing border-box

.b-main
	width 980px
	padding 60px 0 64px 0
	margin 0 auto
	font-family Arial Helvetica sans-serif
	font-size 12px
	line-height 17px
	
.b-content 
	clearfix()	