@import 'nib'

@font-face
	font-family helvetica
	font-style normal
	src url(fonts/HelveticaNeueCyr-Medium.otf)

.b-content-leftside
	float left
	width 220px

.b-rightcontent
	float right
	margin-right 0
	width 740px
	
.b-leftside-menu
	background #3A3A3A	
	
	ul 
		li 
			padding 10px 20px
			border-top 1px solid #4e4e4e
			 
			&:first-child
				border-top 0
				  
			a 
				font-family helvetica 
				font-size 15px
				color #FFF
				text-decoration none
				transition color .3s ease
				
				&:hover 
					color #FC4907
					
.b-leftside-reviews
	font-family helvetica 
	padding 30px 20px	
	background #919191
	
	h2 
		font-size 21px
		color #FFF
		padding-bottom 8px
		border-bottom 1px solid #BABABA
		margin-bottom 15px