.b-header 
	height 144px
	overflow hidden

.b-header-wrap
	margin 0 auto
	width 940px
	padding-top 30px
	clear()
	

.b-header-logo
	width 260px
	float left
	
	h4 
		font-family Georgia 
		font-size 15px
		line-height 16px
		color dark
		font-weight 300 
		text-transform uppercase
		
	h2 
		font-family Georgia 
		font-size 30px
		line-height 30px 
		color red 
		font-weight 300   
		text-transform uppercase
		
		em 
			color dark	

.b-header-top-nav
	width 320px
	float left
	margin-top 15px
	margin-left 90px
	
	ul 
		li 
			float left
			margin-left 22px
			position relative
			
			&:before
				position absolute
				top 2px
				left -10px
				content '|'
				font-size 12px 
				line-height 12px
				color dark 
				font-weight 600  
			
			&:first-child 
				margin-left 0
				
				&:before 
					content none
			
			a 
				font-family Arial
				font-size 12px
				line-height 12px
				color red    
				text-decoration none
				width 100%
				
.b-header-socials
	float right
	
	
	ul 
		width 97px
		float left
		clear()
		
		li 
			width 24px
			height 24px		
			float left
			margin-left 12px
			
			&:first-child
				margin-left 0
			
			a
				display block
				width 100%
				height 100%
				
.twitter 
	background url(../img/twit.png) no-repeat 		
	
.facebook 
	background url(../img/facebook.png) no-repeat 	
	
.rss
	background url(../img/rss.png) no-repeat 					

.b-header-socials__likes
	float right
	width 75px
	margin-left 13px
	padding-left 9px
	
.b-header-socials-likes__img
	float left
	width 44px
	height 18px
	border 1px solid #cad4e7
	border-radius 2px 
	background #ECEEF5

.b-header-socials-likes__cnt
	float right
	width 19px
	height 16px
	border 1px solid #bababa
	font-size 10px
	text-align center
	position relative
	padding-top 2px
	
	&:after 
		content ''
		position absolute
		display block
		top 3px
		left -8px
		border: 4px solid transparent;	
		border-right: 4px solid #bababa;
		
	&:before 
		content ''
		z-index 1 
		position absolute
		display block
		top 4px
		left -6px
		border: 3px solid transparent;	
		border-right: 3px solid #fff;	


.b-header-socials__gplus
	float right
	width 55px
	margin-left 9px
	padding-left 4px

.b-header-socials-gplus__img
	float left
	width 29px
	height 18px
	border 1px solid #cad4e7
	border-radius 2px 
	background #ECEEF5

.b-header-socials-gplus__cnt
	float right
	width 19px
	height 16px
	border 1px solid #bababa
	font-size 10px
	text-align center
	position relative
	padding-top 2px
	
	&:after 
		content ''
		position absolute
		display block
		top 3px
		left -8px
		border: 4px solid transparent;	
		border-right: 4px solid #bababa;
		
	&:before 
		content ''
		z-index 1 
		position absolute
		display block
		top 4px
		left -6px
		border: 3px solid transparent;	
		border-right: 3px solid #fff;	
	
		
.b-header-search
	width 250px	
	float right	
	clear right
	padding-bottom 15px
	margin-top 10px
	
	input[type="text"]
		width 218px
		height 26px
		background #F8F8F8	
		outline none
		border 1px solid #bababa
		border-right none
		
	input[type="submit"]
		width 32px
		height 26px
		text-indent -99900px 	
		background dark url(../img/magn.png) no-repeat center center
		border none
		cursor pointer

.b-input 
	float left

.b-header-bottom-nav
	
	clear both
	background dark 
	
	ul 
		li 
			a 
				font-family bebas 
				font-size 15px
				line-height 15px 
				color #FFF
				text-transform uppercase 	
				text-decoration none
				font-weight 600 			