@import 'nib'

dark = #202021
red = #cf0000
gray = #e4e4e4

@font-face
	font-family bebas
	src url(../fonts/BebasNeueRegular.ttf)  
	src url(../fonts/BebasNeueRegular.otf)  
	
clear()
	&:after
		clear both
		display block
		width 0
		height 0
		content ''
		visibility hidden
		

* 
	-webkit-box-sizing  border-box
	-moz-box-sizing  border-box
	box-sizing  border-box	
