@import 'nib'


body 
	font-family Arial 
	font-size 16px

.b-header
	background #FFF
	
.b-header-inner
	width 960px
	margin 0 auto 
	transition .1s width ease

.b-header-logo__img
	span 
		display block
		background url(http://natural-resources.ru/img/logo.png) no-repeat