@import 'nib'

.b-about
	margin-left 300px
	padding 15px
	
.b-about-inner
	background #FFF 
	padding 30px	
	clearfix()	
	
.b-about-left__img
	height 302px	
	width 721px
	background orange 
	img 
		display block	
		
//.b-about-skill		
	
	
.b-about-skill__name
	p 
		font-size 15px
		line-height 26px
		color #727272
		font-weight 300	
		position relative
		
		span 
			position absolute
			top 0
			right 0
			color #000
			
.b-about-skill_percent
	margin-top 5px
	width 720px
	height 32px
	border 1px solid #e2e2e2
	
.b-about-skill__bg
	background #e2e2e2
	width 640px
	height 100%	
	
.b-about-testimonials
	padding-bottom 30px
	h4 
		font-size 24px
		line-height 26px
		color #000
		font-weight 300
		padding-bottom 13px		

.b-about-testimonials__item
	border 1px solid #ececec
	border-top 0
	
	p 
		font-size 18px
		line-height 30px 
		color #A3A3A3
		font-weight 300 
		padding 20px 30px 
	
.b-about-testimonials__fotoname
	clearfix() 
	
	img 
		float left
		width 80px
		height 80px
		background #CCC
		
	a	
		float right
		width 638px
		height 80px
		font-size 15px
		font-style italic
		line-height 26px
		color #FFF
		background #1AB5B3
		padding-left 22px
		padding-top 30px
		

.b-about-services 
	h4 
		font-size 24px
		line-height 26px
		color #000
		font-weight 300
		padding-bottom 13px	
		
	ul 
		  
		li 
			padding-left 10px
			position relative
			
			i 
				position absolute
				top 13px
				left 0
				font-size 4px
				color #848484

			a 
				font-size 14px
				line-height 30px
				color #848484
				font-weight 300
				text-decoration none 		