@import 'nib'

html
body 
.b-content
	height 100%			

*
	box-sizing border-box

body 
	font-family 'Roboto' sans-serif
	font-size 16px
	//background #B4B7B8
	//clearfix()
		
.b-content 
	width 100%		
