@import 'nib'

.b-navigation
	width 300px
	float left
	overflow hidden
	background #242B2E
	height 100%
	position fixed 
	z-index 2
	//box-shadow: 23px 6px 35px -10px rgba(0,0,0,0.69);

.b-navigation-logo
	
	span 
		display block
		width 300px
		height 125px
		background url(../img/logo.png) no-repeat 
		
.b-navigation-nav
	width 300px
	
	ul 
		li 
			border-bottom 1px solid #293034 				

			a 
				display block
				width 100%
				color #FFF
				font-size 18px
				line-height 32px
				text-transform uppercase
				text-decoration none
				font-weight 300 
				background linear-gradient(to top, #31383C, #333b3f) 
				text-align right
				padding 15px 23px 15px 0
				transition  background 1s ease
				
				&:hover 
					background linear-gradient(to top, #1faaa8, #31bcbb) 

					
.b-navigation-filter
	border-bottom 1px solid #293034 	
	
.b-navigation-filter__header
	h3 
		padding-top 16px
		padding-right 53px
		text-align right
		color #1AB5B3
		font-weight 300
		font-size 19px
		line-height 32px 
		background url(../img/filter.png) no-repeat 261px 21px 	
		
	ul 
		text-align right
		padding 7px 0 22px
		
		li
			padding-right 23px
			 
			a	
				font-size 13px
				line-height 24px 
				color #6B7072	
				text-transform lowercase
				text-decoration none 
				font-weight 300 
				
				&:hover 
					text-transform capitalize
					color #fff 			

.b-navigation-footer__socials
	padding 28px 0 17px
	
	ul 
		margin-left 38px
		padding-right 23px
		clearfix() 
		
		li 
			float left
			margin-left 10px
			
			a 
				display block
				width 24px
				height 24px
		
.flickr 
	a 	
		background url(../img/flickr.png) no-repeat 	
		
.gplus 
	a 	
		background url(../img/gplus.png) no-repeat 	
		
.behance
	a 	
		background url(../img/behance.png) no-repeat 		
		
.drible
	a 	
		background url(../img/drible.png) no-repeat 	
		
.facebook
	a 	
		background url(../img/facebook.png) no-repeat
		
.pinterest
	a 	
		background url(../img/pinterest.png) no-repeat 			 								
		
.twitter
	a 	
		background url(../img/twitter.png) no-repeat 				

.b-navigation-footer__copy
	p 
		font-size 12px
		line-height 25px 
		color #6B7072
		font-weight 100 
		padding-right 23px
		text-align right				 		